# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -  id: trailing-whitespace
       exclude: legacy|demo_data\/.* \/.*
    -  id: end-of-file-fixer
       exclude: legacy|demo_data\/.* \/.*
    -  id: check-yaml
       exclude: legacy|demo_data\/.* \/.*
    -  id: check-added-large-files
       exclude: legacy|demo_data\/.* \/.*

- repo: local
  hooks:
    - id: black
      name: Black
      entry: poetry run black netts tests examples
      pass_filenames: false
      language: system
- repo: local
  hooks:
    - id: isort
      name: isort
      entry: poetry run isort netts tests examples
      pass_filenames: false
      language: system
- repo: local
  hooks:
    - id: safety
      name: Safety
      # Ignore pip vulnerability
      entry: poetry run safety check --full-report -i 40291
      pass_filenames: false
      language: system
- repo: local
  hooks:
    - id: mypy
      name: MyPy
      entry: poetry run mypy netts tests
      pass_filenames: false
      language: system
- repo: local
  hooks:
    - id: pylint
      name: Pylint
      entry: poetry run pylint netts tests examples -j 0
      pass_filenames: false
      language: system
- repo: local
  hooks:
    - id: flake8
      name: Flake8
      entry: poetry run flake8 netts tests examples
      pass_filenames: false
      language: system
